{% extends 'padre.html' %}


{% block contenidoQuecambia %}

    <ul>
        {% for curso in cursos %}   
            <div  style="display: flex; column-gap: 5px;">
                <li>{{curso.nombre}} {{curso.camada}}</li>
                <form action="{% url 'EliminarCursos' curso.id %}" method="post">{% csrf_token %}
                    <button type="submit"> Eliminar</button>
                </form>
                <button>
                    <a href="{% url 'EditarCursos' curso.id %}"> Editar</a>
                </button>
            </div>
        {% endfor %}
    </ul>
    
{% endblock contenidoQuecambia %}