{% extends 'padre.html' %}


{% block contenidoQuecambia %}

    <ul>
        {% for curso in cursos %}   
            <div  style="display: flex; column-gap: 5px;">
                <li>{{curso.nombre}} {{curso.camada}}</li>
                <button>
                    <a href="{% url 'EliminarCursos' curso.id %}" > Eliminar </a>
                </button>
                <button>
                    <a href="{% url 'EditarCursos' curso.id %}" > Editar </a>
                </button>
            </div>
        {% endfor %}
    </ul>
    
{% endblock contenidoQuecambia %}